.minimap {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.compass {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 30px;
  border-color: transparent transparent transparent #007bff;
}
